# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environment
venv/
.venv/

# IDE & Tools
.vscode/
.idea/
*.iml
.pytest_cache/

# System & Temp
.DS_Store
.env
*.log
*.sqlite
*.pickle

# Git
.git/

# Прочие временные файлы
backup/
old/
reports/
postgres_data/