version: '3.8'

services:
  lunch_bot:
    build: .
    container_name: lunch_bot
    working_dir: /app
    volumes:
      - ./data/configs:/app/data/configs
      - /var/log/lunch_bot:/app/data/logs  # ТОЛЬКО локальная папка ВМ
      - ./data/reports:/app/data/reports
      - ./data/db:/app/data/db
      - .:/app  # Монтирование кода для hot-reload
    environment:
      - TZ=Europe/Moscow
      - PYTHONUNBUFFERED=1
    env_file:
      - ./data/configs/.env
    extra_hosts:
      - "b24.epc.su:192.168.10.138"
    restart: unless-stopped