version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: lunch_bot_postgres
    environment:
      POSTGRES_DB: lunch_bot
      POSTGRES_USER: bot_user
      POSTGRES_PASSWORD: lunch_bot123456
      TZ: Europe/Moscow
      PGTZ: Europe/Moscow
    ports:
      - "5434:5432"
    volumes:
      - /opt/lunch_bot/postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    user: "599:599"  # UID:GID пользователя conteiner
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U bot_user -d lunch_bot"]
      interval: 30s
      timeout: 10s
      retries: 3

  lunch_bot:
    build:
      context: .
      args:
        USER_ID: 599   # UID пользователя conteiner на хосте
        GROUP_ID: 599  # GID пользователя conteiner на хосте
    container_name: lunch_bot
    working_dir: /app
    depends_on:
      postgres:
        condition: service_healthy
    # Монтируем только то, что нужно
    volumes:
      - /opt/lunch_bot/data/configs:/app/data/configs:rw
      - /opt/lunch_bot/data/logs:/app/data/logs:rw
      - /opt/lunch_bot/data/reports:/app/data/reports:rw
      - /opt/lunch_bot/data/db:/app/data/db:rw
      - /opt/lunch_bot/data/backups:/app/data/backups:rw
      - .:/app:ro  # Код только для чтения
    environment:
      - TZ=Europe/Moscow
      - PYTHONUNBUFFERED=1
      - PUID=599
      - PGID=599
    env_file:
      - /opt/lunch_bot/data/configs/.env
    extra_hosts:
      - "b24.epc.su:192.168.10.138"
    restart: unless-stopped
    user: "599:599"  # Запускаем от имени conteiner