# Core
python-telegram-bot==20.3
fast_bitrix24
python-dotenv==1.1.0
apscheduler

# Database
sqlalchemy==2.0.23
psycopg2-binary>=2.9.7

# Excel/Reports
pandas==2.2.0
openpyxl==3.1.2

# Utils
colorlog==6.7.0
watchdog==3.0.0
pytz==2023.3
yadisk>=3.0.0

# HTTP (если используются)
httpx==0.24.1
requests>=2.32.0